/*------------------------------------------------------------
Create Job
------------------------------------------------------------*/
.highlight {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #FDFDFD;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.classify-lines {
  border-left: 1px solid #898989;
  border-bottom: 1px solid #898989;
  height: 55px;
  margin-bottom: -40px;
}
.sub-classification {
  margin-top: -20px;
  margin-left: 20px;
}
.form-group .btn-primary.btn-lg {
  padding: 10px 34px;
  margin-right: 10px;
}
/*------------------------------------------------------------
Current open Jobs, Your candidates
------------------------------------------------------------*/
.current-open-jobs-wrapper,
.your-candidates-wrapper {
  padding-top: 0;
}
.current-open-jobs-wrapper h2,
.your-candidates-wrapper h2 {
  margin-top: 0;
}
.current-open-jobs-wrapper .current-job-tabs,
.your-candidates-wrapper .current-job-tabs {
  margin-top: 30px;
}
.current-open-jobs-wrapper .current-job-tabs a,
.your-candidates-wrapper .current-job-tabs a {
  color: #fbd033;
}
.current-open-jobs-wrapper .current-job-tabs .tab-content,
.your-candidates-wrapper .current-job-tabs .tab-content {
  margin-top: 15px;
}
.current-open-jobs-wrapper .current-job-tabs h3,
.your-candidates-wrapper .current-job-tabs h3 {
  font-size: 18px !important;
  display: inline-block;
}
.current-open-jobs-wrapper .current-job-tabs button.pull-right,
.your-candidates-wrapper .current-job-tabs button.pull-right {
  margin-top: 15px;
}
.current-open-jobs-wrapper .location,
.your-candidates-wrapper .location {
  font-size: 12px;
  line-height: 17px;
  color: #ababab;
  margin-bottom: 10px;
}
.current-open-jobs-wrapper .location:before,
.your-candidates-wrapper .location:before {
  content: "\f041" !important;
  font-family: FontAwesome !important;
  line-height: 1.0 !important;
  font-size: 12px !important;
  position: relative !important;
  width: 20px !important;
  vertical-align: middle !important;
  padding-left: 2px !important;
  color: #ababab !important;
}
.current-open-jobs-wrapper table,
.your-candidates-wrapper table {
  margin-top: 20px;
}
.current-open-jobs-wrapper table thead tr th,
.your-candidates-wrapper table thead tr th {
  padding-left: 15px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #2b2b2b;
}
.current-open-jobs-wrapper table tbody tr td,
.your-candidates-wrapper table tbody tr td {
  vertical-align: middle !important;
  padding: 20px;
}
.current-open-jobs-wrapper table tbody tr td h4,
.your-candidates-wrapper table tbody tr td h4 {
  color: #333;
  font-size: 15px;
  line-height: 20px;
  margin: 0px;
  padding: 0px;
}
.current-open-jobs-wrapper table tbody tr td h4:hover,
.your-candidates-wrapper table tbody tr td h4:hover {
  color: #fbd033 !important;
}
ul.list-unstyled li {
  padding-left: 0px !important;
}
/*------------------------------------------------------------
Job list
------------------------------------------------------------*/
#subpage-header + .container > .row > div ul.list-unstyled li,
.landing-header-wrapper + .container > .row > div ul.list-unstyled li,
#subpage-header + .container > .row > div ul.list-unstyled li:before,
.landing-header-wrapper + .container > .row > div ul.list-unstyled li:before {
  content: none;
  padding-left: 0px;
}
.job-list-wrapper {
  border-bottom: 1px solid #ddd;
  display: inline-block;
  padding: 15px 0;
  border-left: 5px solid #fff;
}
.job-list-wrapper:hover {
  background-color: #f6f6f6;
  border-left: 5px solid #fbd033;
}
.job-list-wrapper li.title h3 {
  margin: 0;
}
.job-list-wrapper li.title:hover {
  color: #fbd033 !important;
}
.job-list-wrapper li.intro {
  margin-bottom: 15px;
}
.job-list-wrapper li.company,
.job-list-wrapper li.classification {
  font-size: 12px;
  line-height: 17px;
  color: #ababab;
  margin-bottom: 10px;
}
.job-list-wrapper li.date-posted {
  color: #ababab;
  font-size: 12px;
}
.job-list-wrapper li.salary,
.job-list-wrapper li.location {
  color: #fbd033;
  font-size: 12px;
}
.job-list-wrapper li.salary:before,
.job-list-wrapper li.location:before {
  content: "\f0d6" !important;
  font-family: FontAwesome  !important;
  line-height: 1.0 !important;
  font-size: 12px !important;
  position: relative !important;
  width: 20px !important;
  vertical-align: middle !important;
  color: #ababab !important;
}
.job-list-wrapper li.location:before {
  content: "\f041" !important;
  padding-left: 2px !important;
}
.job-list-info ul {
  line-height: 1.7;
}
.job-list-logo img {
  margin-top: 20px;
  max-width: 100px;
  max-height: 100px;
}
@media (max-width: 767px) {
  .job-list-logo {
    margin-bottom: 10px;
  }
}
.job-detail-info span.date,
.job-detail-info span.location,
.job-detail-info span.salary,
.job-detail-info span.date {
  padding-right: 20px;
}
.alert-warning a {
  color: #c09853;
}
